.My-name {
    color: #fff;
    background-color: #45AAA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    height: 30x;
    margin: 0;
    position: absolute;
    left: 14%;
    float: left;
  }


  .nav-item {
      line-height: 30px;
      font-size: 12px;
      text-align: right;
  }

  .container-fluid {
    padding: 20px;
    background-image: url("morocco.png");
    background-color: azure;  
  }

  .container {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
  }

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #45AAA6;
    margin: 20px;
  }

  .bio-image {
    float: left;
    }

.bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #666; 
    }

footer {
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #666;
    color: #fff;
    font-size: 12px;
    clear: both;
    height: auto;
    margin-top: -50px;
    }

.row {
    height: 10%;
}   

.box {
        margin: 2% 7%;
        height: 130px;
        width: 130px;
        float: left;
        position: relative;
      }

.text {
        position: absolute;
        bottom: 5px;
        text-align: center;
        background-color: #45AAA6;
        color: #fff;
        padding: 5%;
        right: 0;
        left: 0;
      }

.button {
        background-color: #45AAA6;
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 15px 2px;
        cursor: pointer;
      }